<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trial.kk.trial">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTema"
        >
        <activity
            android:name=".Hmp"
            android:label="@string/title_activity_hmp"
            android:theme="@style/AppTema"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".PopResult"
            android:theme="@style/AppTheme.Popups">
        </activity>
        <activity android:name=".HedefPopup"
            android:theme="@style/AppTheme.Popups">
        </activity>
        <activity android:name=".Hedefler$Popup"
            android:theme="@style/AppTheme.Popups"/>
    </application>

</manifest>